# Frontend Environment Variables
# Copy this to .env.local and fill in values
# .env.local is gitignored by Next.js by default

# Database Connection
MONGODB_URI= "provide your mongo url"

# Resend API Key for emails
RESEND_API_KEY="provide your resend url"

# Base URL for the frontend (Used for sitemap and robots.ts)
NEXT_PUBLIC_BASE_URL="https://demo-rho-cyan-37.vercel.app"